.section-content {
  .content {
    position: relative;
    left: 80px;
    width: calc(100% - 80px);

    @media (width <= 600px) {
      left: 0;
      width: calc(100% - 0px);
    }
  }

  .bg-top-pages {
    position: absolute;
    z-index: -1;
    width: 100%;

    .left-gradient {
      position: absolute;
      top: -127px;
      left: 0;
      width: 745px;
      background-size: contain;

      @media (width <= 920px) {
        width: 100%;
      }
    }

    .right-gradient {
      position: absolute;
      top: 0;
      right: 0;
      width: 775px;
      background-size: contain;

      @media (width <= 920px) {
        width: 100%;
      }
    }

    .top-gradient {
      position: absolute;
      top: -127px;
      right: 0;
      width: 100%;
    }
  }
}

.layout-container-profile {
  position: relative;
  width: 100%;

  .section-header {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .section-sidebar.open {
    width: 280px;

    ~ {
      .section-content {
        .content {
          left: 280px;
          width: calc(100% - 280px);
        }
      }
    }
  }
}
