@import "assets/scss/custom/color";

.cookie-policy-page {
  .wrapper-content {
    color: $black;
    text-align: center;

    h3 {
      margin: 40px auto 12px;
    }

    #cookie-policy {
      margin: 50px auto 100px;
      text-align: start;
    }
  }
}
