@import "assets/scss/custom/font";
@import "assets/scss/custom/common";

.nav-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 80px;
  height: 100vh;
  padding: 120px 5px 0;
  overflow-y: auto;
  transition: all 0.4s ease;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (width <= 540px) {
    display: none;
  }

  li {
    position: relative;
    margin: 10px 0;
    list-style: none;

    .box-menu {
      display: flex;
      justify-content: center;
      width: 70px;
      height: auto;

      .icon-menu {
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      .tooltip {
        top: 50%;
        pointer-events: auto;
        opacity: 1;
        transition: all 0.4s ease;
        transform: translateY(-50%);
      }
    }

    a {
      display: block;
      width: 100%;
      height: 72px;
      padding: 10px 0;
      text-decoration: none;
      border-radius: 10px;
      transition: all 0.4s ease;

      &:hover {
        background: rgb(255 255 255 / 10%);
      }

      .link-active {
        color: $purple;
        text-align: center;
      }

      .links {
        width: 70px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;

        .link-name {
          font-size: 15px;
          font-weight: 400;
          pointer-events: none;
        }
      }
    }

    .profile-details {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 6px;
    }
  }

  li.open {
    .menu-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: 58px;

      .icon-home,
      .icon-search,
      .icon-artist,
      .icon-library {
        margin: 0 0 0 13px;
      }

      .link-active {
        margin-left: 20px;
        color: $purple;
      }

      .links {
        width: fit-content;
        margin-left: 20px;
        text-align: start;

        .link-name {
          pointer-events: auto;
          opacity: 1;
        }
      }
    }
  }
}

.sidebar-container.open {
  width: 280px;
}
