.circle-carousel-component {
  .section-carousels {
    position: relative;

    .see-more {
      text-decoration: none;

      .btn-outline-third {
        border-color: $tuna;
      }
    }

    .carousel-btn {
      z-index: 1;
      display: flex;
      padding: 10px;
      color: $white;
      cursor: pointer;
      background-color: $bunker;
      border: none;
      border-radius: 100%;
      box-shadow: -4px 0 4px 0 rgb(0 0 0 / 25%);
    }

    .disabled {
      cursor: auto;
      opacity: 0.6;

      &:hover {
        color: $white !important;
      }
    }

    .carousel-btn.prev {
      color: white;
      background-color: $bunker;
      border-radius: 100%;

      &:hover {
        color: $purple;
      }

      .arrow-icon {
        font-size: 24px;
      }

      @media (width <= 540px) {
        position: absolute;
        top: 120px;
        left: -30px;
      }
    }

    .carousel-btn.next {
      &:hover {
        color: $purple;
      }

      .arrow-icon {
        font-size: 24px;
      }

      @media (width <= 540px) {
        position: absolute;
        top: 120px;
        right: -15px;
      }
    }

    .carousels-container {
      overflow: hidden;
      overflow-x: scroll;

      .carousels {
        display: flex;
        transition: transform 0.5s ease;

        .carousels-item {
          flex: 0 0 auto;
          margin-right: 16px;
          cursor: pointer;

          &:hover {
            border-radius: 5px;

            .mask-card {
              position: absolute;
              top: 0;
              z-index: 100px;
              width: 180px;
              height: 180px;
              background-color: rgb(0 0 0 / 20%);
              border-radius: 50%;

              @media (width <= 540px) {
                width: 160px;
                height: 160px;
              }
            }
          }

          .cart-tag {
            position: absolute;
            width: 33px;
            height: 21px;
            padding: 2px;
            margin-top: 155px;
            margin-left: 142px;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            background: $green;
            border-radius: 3px;
          }

          .title-name {
            width: 180px;
            margin-top: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media (width <= 540px) {
              width: 160px;
            }
          }
        }

        .carousels-item img {
          width: 180px;
          height: 180px;
          object-fit: cover;
          border-radius: 50%;

          @media (width <= 540px) {
            width: 160px;
            height: 160px;
          }
        }
      }
    }
  }
}
