.create-ticket-request-page {
  margin-top: 80px;

  .section-ticket-request {
    padding: 16px 24px;
    margin-top: 40px;
    background: rgb(255 255 255 / 5%);
    border: 1px solid rgb(224 224 224 / 20%);
    border-radius: 10px;

    .ck-error {
      width: 100%;
      margin-top: 0.25rem;
      font-size: 0.875em;
      color: $red;
    }

    .input-area {
      height: 100px !important;
      padding-top: 10px;
    }

    .card-image {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border: 1px solid rgba(249 249 249 / 20%);

      .image-item {
        display: flex;
        gap: 10px;
        align-items: center;

        .detail-item {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .title {
            max-width: 500px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media (width <= 1160px) {
              max-width: 300px;
            }

            @media (width <= 900px) {
              max-width: 150px;
            }
          }
        }
      }

      .cover-profile {
        padding-right: 10px;
        font-size: 50px;
        object-fit: contain;
        border-right: 1px solid rgba(249 249 249 / 20%);
      }

      .icon-del {
        font-size: 25px;
        cursor: pointer;
      }
    }

    .card-no-image {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      height: 120px;
      text-align: center;
      cursor: pointer;
      border-style: dashed;

      .icon-up {
        font-size: 40px;
      }
    }

    .action {
      display: flex;
      gap: 40px;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      margin-top: 40px;

      .btn-cancel {
        color: $white;
      }

      .btn-outline-primary {
        padding: 8px 45px;
      }
    }
  }
}
