@import "assets/scss/custom/color";

.login-page {
  display: flex;

  @media (width <= 900px) {
    flex-direction: column;

    .section-left {
      display: none;
      visibility: hidden;
      opacity: 0;
    }

    .section-right {
      min-width: 100%;

      .section-form-login {
        padding: 0 30px;
      }
    }
  }

  @media (width <= 400px) {
    .section-right {
      .btn-back {
        margin-top: 16px !important;
        margin-left: 16px !important;
      }
    }
  }

  .section-left {
    position: relative;
    top: 0;
    width: 50%;
    height: 100vh;

    .video-login {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;

      @media (width >= 1200px) {
        object-position: top;
      }
    }
  }

  .section-right {
    position: relative;
    width: 50%;
    height: 100vh;
    margin: auto;

    .btn-back {
      display: flex;
      align-items: center;
      margin-top: 35px;
      margin-left: 32px;
      color: $white;

      &:focus {
        border: none;
      }

      i {
        margin-top: 3px;
        margin-right: 8px;
        font-size: 24px;
      }
    }

    .section-form-login {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 390px;
      text-align: center;
      transform: translate(-50%, -50%);

      .img-logo {
        width: 245px;
        height: 50px;
        margin-bottom: 24px;
      }

      .title {
        margin-top: 6px;
        margin-bottom: 48px;
      }

      .btn-outline-third {
        margin-bottom: 16px;

        .img-google {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }

        .spinner-border {
          color: $white !important;
        }

        .visually {
          color: $white !important;
        }
      }
    }
  }
}
