.detail-ticket-request-page {
  margin-top: 80px;

  .section-ticket-request {
    padding: 16px 24px;
    margin-top: 40px;
    background: rgb(255 255 255 / 5%);
    border: 1px solid rgb(224 224 224 / 20%);
    border-radius: 10px;

    .title-action {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn-delete-member {
        display: flex;
        color: $red;

        .icon-trash {
          margin-right: 5px;
          font-size: 24px;
        }
      }
    }

    .input-area {
      height: 100px !important;
      padding-top: 10px;
    }

    .card-image {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 10px;
      border: 1px solid rgba(249 249 249 / 20%);
      border-radius: 5px;

      .image-item {
        display: flex;
        align-items: center;
        height: 80px;

        .line {
          height: 80px;
          border: 1px solid rgba(249 249 249 / 20%);
        }

        .detail-item {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-left: 10px;

          .title {
            max-width: 500px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media (width <= 1160px) {
              max-width: 300px;
            }

            @media (width <= 900px) {
              max-width: 150px;
            }
          }
        }
      }

      .cover-profile {
        width: 80px;
        height: 80px;
        padding: 10px;
        object-fit: cover;
      }

      .cover-icon {
        padding: 10px;
        font-size: 50px;
      }

      .icon-del {
        font-size: 25px;
        cursor: pointer;
      }
    }

    .card-no-image {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      height: 120px;
      text-align: center;
      cursor: pointer;
      border-style: dashed;

      .icon-up {
        font-size: 40px;
      }
    }

    .title-request-by {
      color: $pastel-blue;
    }
  }
}
