/********************************************   */
//               ALERT SUCCESS

/********************************************   */

body.swal2-toast-shown .swal2-container.swal2-top-start,
body.swal2-toast-shown .swal2-container.swal2-top-left {
  inset: 0 auto auto 0;
}

body.swal2-toast-shown .swal2-container {
  box-sizing: border-box;
  width: 360px;
  max-width: 100%;
  pointer-events: none;
  background-color: rgb(0 0 0 / 0%);
}

div:where(.swal2-container).swal2-backdrop-show,
div:where(.swal2-container).swal2-noanimation {
  background: rgb(0 0 0 / 40%);
}

div:where(.swal2-container) {
  position: fixed;
  inset: 0;
  z-index: 1060;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "top-start top top-end"
    "center-start center center-end"
    "bottom-start bottom-center bottom-end";
  grid-template-rows: minmax(min-content, auto) minmax(min-content, auto) minmax(
      min-content,
      auto
    );
  height: 100%;
  padding: 0.625em;
  overflow-x: hidden;
  transition: background-color 0.1s;
  -webkit-overflow-scrolling: touch;
}

.swal2-close {
  color: $green !important;
}

.swal2-close:hover {
  color: $green !important;
}

.swal2-close:focus {
  box-shadow: none !important;
}

.swal-success {
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
  height: fit-content !important;
  padding: 12px !important;
  color: $green !important;
  background: $light-green !important;
  border-radius: 8px !important;

  .swal2-html-container {
    margin: 0 8px 0 0 !important;
  }

  .swal2-title {
    width: 250px !important;
    height: fit-content !important;
    margin: 5px 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: inherit !important;
  }
}

/********************************************   */
//               ALERT ERROR

/********************************************   */

.swal-error {
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
  height: fit-content !important;
  padding: 12px !important;
  color: $white !important;
  background: $red !important;
  border-radius: 8px !important;

  .swal2-html-container {
    margin: 0 8px 0 0 !important;
  }

  .swal2-title {
    width: 250px !important;
    height: fit-content !important;
    margin: 5px 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: inherit !important;
  }

  .swal2-close {
    color: $white !important;
  }

  .swal2-close:hover {
    color: $white !important;
  }

  .swal2-close:focus {
    box-shadow: none !important;
  }
}

/********************************************   */
//                 ALERT DARK

/********************************************   */

.swal-info {
  display: flex !important;
  align-items: center !important;
  height: 52px !important;
  padding: 12px !important;
  color: $white !important;
  background: $cloud-burst !important;
  border-radius: 8px !important;

  .swal2-title {
    margin: 5px 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .swal2-close:hover {
    color: $white !important;
  }

  .swal2-close:focus {
    box-shadow: none !important;
  }
}
