/********************************************   */
//                   COLOR

/********************************************   */

$white-dove: #ececec4d;
$violet-blue: #7026ff;
$bright-gray: #ececec4d;
$black-russian: #030a1a;
$blue: #51a1ff;
$violet-red: #cf20a9;
$royal-blue: #3372dd;
$pale-magenta: #cf20a9;
$purple-heart: #5808bf;
$lilac: #d79aca;
$white: #fff;
$mauve: #d2afff;
$silver: #c4c4c4;
$medium-purple: #b27cff;
$perano: #a4b7ff;
$pastel-blue: #6d8dff;
$cornflower-blue: #6ea8ff;
$glowing-purple: #7029ba;
$red-violet: #af2992;
$salmon: #ff7d6b;
$electric-indigo: #5700ff;
$blue-violet: #9747ff;
$seance: #5b2364;
$lightning-yellow: #ffa438;
$victoria: #53467e;
$christalle: #311864;
$purple: #8b63e1;
$bunker: #2a2b2c;
$nero: #1c1c1c;
$cloud-burst: #363b48;
$eclipse: #3c3c3c;
$tuna: #474d5b;
$moon-raker: #bbaccb;
$gainsboro: #d9d9d9;
$snow: #f9f9f9;
$black: #000;
$red: #ff4559;
$myrtle: #1b4f00;
$green: #2ca203;
$light-green: #b1ffd1;
$orange: #e68a00;
$light-red: #ffcaca;
$light-yellow: #fff0bb;
$dark-purple: #170736;
$conifer: #b9de68;
$raw-umber: #733500;
$kournikova: #fdcb5d;
$sapphire: #002d7d;
$light-blue: #a8ecff;
$black-hover: #0003;
$sea: #00a0c2;
$cruel-ruby: #dc3545;
$caribbean-green: #1dc9a0;
$malted-mint: #14deb9;
$peaceful-purple: #620484;
$partner-bg: #0c031e;
$pink: #f954c0;
$recommended: #474d5b;
