.preview-image-thumbnail-modal {
  .modal-content {
    max-height: 600px;
    padding: 10px 0;
    background: $black-russian;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgb(255 255 255 / 20%);

    .no-border {
      border: 1px solid transparent !important;
    }

    .modal-body {
      width: 100%;
      max-width: 450px;
      max-height: 400px;
      padding: 0;
      margin: auto;

      .cropper-container {
        width: 100%;
        max-width: 100%;

        .cropped-image-preview {
          width: 390px;
          height: auto;
        }
      }
    }
  }
}
